.categorySelector {
    flex: 1;
    width: 100%;
    min-width: 160px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 8px;
    border-radius: 8px;
    background-color: rgba(33, 33, 33, 0.66);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.categorySelector button {
    width: 100%;
    font-size: 20px;
    margin: 4px 0;
    padding: 4px;
    background: none;
    color: inherit;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
}

.categorySelector button.selected {
    background-color: #fff;
    color: #212121;
    font-weight: bold;
}
