.indexContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.sortRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    width: var(--content-width);
    margin: 0 auto 22px;
}

@media screen and (max-width: 720px) {
    .sortRow {
        flex-direction: column;
    }
}
