name: Deploy to Firebase PR
on:
  workflow_run:
    workflows: ["PR Build"]
    types:
      - completed
jobs:
  upload_preview:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v2
      - name: 'Download artifact'
        uses: actions/github-script@v3.1.0
        with:
          script: |
            var artifacts = await github.actions.listWorkflowRunArtifacts({
               owner: context.repo.owner,
               repo: context.repo.repo,
               run_id: ${{github.event.workflow_run.id }},
            });
            var matchArtifact = artifacts.data.artifacts.filter((artifact) => {
              return artifact.name == "builtOutput"
            })[0];
            var download = await github.actions.downloadArtifact({
               owner: context.repo.owner,
               repo: context.repo.repo,
               artifact_id: matchArtifact.id,
               archive_format: 'zip',
            });
            var fs = require('fs');
            fs.writeFileSync('${{github.workspace}}/builtOutput.zip', Buffer.from(download.data));
      - run: unzip builtOutput.zip -d out
      - name: Read PR Number
        id: read_number
        uses: andstor/file-reader-action@v1
        with:
          path: "out/prNumber"
      - name: Read PR Label
        id: read_label
        uses: andstor/file-reader-action@v1
        with:
          path: "out/deployLabel"
      - name: Deploy to Firebase
        id: firebase_result
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_SMS_IL_PRS }}'
          projectId: sms-il-prs
          channelId: "${{ steps.read_number.outputs.contents }}--${{ steps.read_label.outputs.contents }}"
      - name: Create comment
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ steps.read_number.outputs.contents }}
          body: |
            Your PR's code has been deployed to the following URL:
            ${{ steps.firebase_result.outputs.urls }}
          
